<html>

<head>
    <title>Leaflet sample</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body>
    <div id="map" style="width: 900px; height: 580px"></div>
    <% items.forEach((item)=>{%>
        <script>
            // Creating map options
            var mapOptions = {
                center: ['<%=item.inventory_address.coord.longitude%>', '<%=item.inventory_address.coord.latitude%>'],
                zoom: 16
            };
            // Creating a map object
            var map = new L.map('map', mapOptions);
            // Creating a Layer object
            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            // Adding layer to the map
            map.addLayer(layer);
            
            function back() {
                location.href = '/detail?_id=<%=item._id%>'
            }
        </script>
        <br>
        <button onclick="back()">Back</button>
        <%})%>
</body>

</html>